.configWrap {
  display: flex;
  height: calc(100vh - 24px);
}

.treeWrap {
  width: 262px;
  flex-shrink: 0;
  height: 100%;
  margin-left: 12px;
  background-color: #FFFFFF;
  padding: 12px;
  border-radius: 5px;

  :global {
    .ant-tree {
      margin-top: 12px;
      height: calc(100% - 42px);

      .ant-tree-list {
        height: 100%;
        overflow: auto;
        padding: 0 !important;
      }
    }
  }
}

.contentWrap {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 12px;
  flex-grow: 1;
  background-color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
}

.empty {
  margin-top: 50%;
  transform: translateY(-50%);
}

.buttonGroup {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}
